.bgContainer{
 background-image: url("https://plus.unsplash.com/premium_photo-1680883415362-238794b19dde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b3JhbmdlJTIwc2t5fGVufDB8fDB8fHww&w=1000&q=80");
height: 75vh;
width: 100%;


background-repeat: no-repeat;
background-size: cover;

}
/* .mt-2{
    width: 1000%;
    height: 20px;
} */